@charset "utf-8";

/****** basic ******/
html, body { height:100%; }
body { margin:0; padding:0; font-family:'Noto Sans KR','Apple SD Gothic Neo',sans-serif; font-weight:400; letter-spacing:-1px; overflow-x:hidden;}
ul, li { list-style:none; margin:0; padding:0; }
a { display:block; text-decoration:none; }

::selection { background-color:#ff4351; color:#fff; }
::-moz-selection { background-color:#ff4351; color:#fff; }
::-webkit-selection { background-color:#ff4351; color:#fff; }

::-webkit-scrollbar { width:10px; background-color:#eee; }
::-webkit-scrollbar-thumb { background-color:#ff4351; }
::-webkit-scrollbar-track { background-color:#eee; }



/****** container ******/
.container { width:100%; }

    /***** header *****/
    .container header { width:100%; height:130px; display:flex; align-items:center; padding:0 120px; box-sizing:border-box; position:fixed; top:0; left:0; transition:0.5s ease; z-index:99; }
    .container header.fade { opacity:0; top:-70px; }
        .container header h1 { width:120px; height:70px; margin-right:auto; }
            .container header h1 a { width:100%; height:100%; text-indent:-9999px; background:url(../images/logo.png) no-repeat 50% 50%; background-size:cover; }

        .container header ul { width:730px; position:absolute; top:50%; left:50%; transform:translateX(-45%); display:flex; justify-content:space-between; align-items:center; }
            .container header ul li { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; font-size:1.2em; cursor:pointer; }

    /***** main *****/
    .container #main { width:100%; margin-top:330px; transition:0.5s; }
    .container #main.hide { margin:0; }

        /*** title ***/
        .container #main #title { width:85vw; position:fixed; top:230px; left:50%; transform:translateX(-50%); z-index:9; opacity:1; transition:0.5s; }
        .container #main.hide #title { width:90vw; top:0; opacity:0; }
            .container #main #title img { width:100%; }

        /*** video ***/
        .container #main #video { width:100%; margin-top:150px; position:relative; transition:0.5s; }
        .container #main.hide #video { margin-top:0; }
            .container #main #video .video_box { height:100vh; }
            .container #main #video .video_box video { position:fixed; z-index:-1; }

            .container #main #video .txt { width:100%; height:100vh; font-size:2.5vw; color:#fff; line-height:1.4; padding:130px; box-sizing:border-box; }
                .container #main #video .txt span { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; }

        /*** works ***/
        .container #main #works { width:100%; padding:160px 50px 50px; box-sizing:border-box; background-color:#fff; }
            .container #main #works h2 { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:700; font-size:2.250vw; margin:0 0 160px 90px; }
            
            .container #main #works ul { display:flex; flex-wrap:wrap; width:100%; }
                .container #main #works ul li { width:33.333333%; margin-bottom:180px; cursor:pointer; position:relative; display:flex; flex-direction:column; }
                .container #main #works ul li:nth-child(3n+2) { margin:100px 0 180px; }
                .container #main #works ul li:nth-child(3n+3) { margin-top:200px; }

                    .container #main #works ul li .img { width:428px; height:648px; display:block; transition:0.3s; align-self:center; }

                        .container #main #works ul li .img:after { content:''; display:block; clear:both; position:absolute; top:0; left:50%; transform:translateX(-50%); width:428px; height:648px; background-color:#ffcc47; transition:1.5s ease; }
                        .container #main #works ul li:nth-of-type(4) .img:after, .container #main #works ul li:nth-of-type(5) .img:after, .container #main #works ul li:nth-of-type(6) .img:after { background-color:#ff4351; }
                        .img:after, .container #main #works ul li:nth-of-type(7) .img:after, .container #main #works ul li:nth-of-type(8) .img:after, .container #main #works ul li:last-of-type .img:after { background-color:#2ea7d7; }

                        .container #main #works ul li.showing .img:after { height:0; }

                        .container #main #works ul li:first-child .img { background:url(../images/jtbc1.jpg) no-repeat 50% 50%; background-size:cover; }
                            .container #main #works ul li:first-child.hover .img { background:url(../images/jtbc_hover.jpg) no-repeat 50% 50%; background-size:cover; }

                        .container #main #works ul li:nth-child(2) .img { background:url(../images/athome.jpg) no-repeat 50% 50%; background-size:cover; }
                            .container #main #works ul li:nth-child(2).hover .img { background:url(../images/athome_hover.jpg) no-repeat 50% 50%; background-size:cover; }

                        .container #main #works ul li:nth-child(3) .img { background:url(../images/asics.jpg) no-repeat 50% 50%; background-size:cover; }
                            .container #main #works ul li:nth-child(3).hover .img { background:url(../images/asics_hover.jpg) no-repeat 50% 50%; background-size:cover; }

                        .container #main #works ul li:nth-child(4) .img { background:url(../images/bbibbi1.jpg) no-repeat 10% 50%; background-size:cover; }
                            .container #main #works ul li:nth-child(4).hover .img { background:url(../images/bbibbi_hover.jpg) no-repeat 10% 50%; background-size:cover; }

                        .container #main #works ul li:nth-child(5) .img { background:url(../images/sam.jpg) no-repeat 50% 50%; background-size:cover; }
                            .container #main #works ul li:nth-child(5).hover .img { background:url(../images/sam_hover.jpg) no-repeat 50% 50%; background-size:cover; }

                        .container #main #works ul li:nth-child(6) .img { background:url(../images/lol.jpg) no-repeat 50% 50%; background-size:cover; }
                            .container #main #works ul li:nth-child(6).hover .img { background:url(../images/lol_hover.jpg) no-repeat 50% 50%; background-size:cover; }

                        .container #main #works ul li:nth-child(7) .img { background:url(../images/doosan.jpg) no-repeat 100% 50%; background-size:cover; }
                            .container #main #works ul li:nth-child(7).hover .img { background:url(../images/doosan_hover.jpg) no-repeat 100% 50%; background-size:cover; }

                        .container #main #works ul li:nth-child(8) .img { background:url(../images/lmc.jpg) no-repeat 50% 50%; background-size:cover; }
                            .container #main #works ul li:nth-child(8).hover .img { background:url(../images/lmc_hover.jpg) no-repeat 50% 50%; background-size:cover; }

                        .container #main #works ul li:last-child .img { background:url(../images/kakao.jpg) no-repeat 0 50%; background-size:cover; }
                            .container #main #works ul li:last-child.hover .img { background:url(../images/kakao_hover.jpg) no-repeat 0% 50%; background-size:cover; }


                    .container #main #works ul li p, .container #main #works ul li .txt_box .txt { margin:0; font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; font-size:1.6em; }
                        .container #main #works ul li p { transform:skewY(-5deg); margin:35px 0 0 15%; transition:0.3s; }
                        .container #main #works ul li.hover p { opacity:0; }

                        .container #main #works ul li .txt_box { position:absolute; top:500px; align-self:center; transform:skewY(-5deg); }
                            .container #main #works ul li .txt_box .txt { width:14vw; height:90px; display:flex; align-items:center; padding:0 15px; box-sizing:border-box; color:#fff; opacity:0; transition:0.3s; }
                            .container #main #works ul li.hover .txt_box .txt { opacity:1; }
                                .container #main #works ul li .txt_box .txt1 { margin:0 0 -1px 70px; }
                        
                            .container #main #works ul li:first-child .txt, .container #main #works ul li:nth-child(2) .txt, .container #main #works ul li:nth-child(3) .txt { background-color:#ffcc47; }

                            .container #main #works ul li:nth-child(4) .txt, .container #main #works ul li:nth-child(5) .txt, .container #main #works ul li:nth-child(6) .txt { background-color:#ff4351; }

                            .container #main #works ul li:nth-child(7) .txt, .container #main #works ul li:nth-child(8) .txt, .container #main #works ul li:last-child .txt { background-color:#2ea7d7; }


        /*** info ***/
        .container #main #info { color:#fff; width:100%; background:linear-gradient(#ffcc47, #ff4351, #2ea7d7); background-size:500% 500%; animation:gradient 7s ease infinite; box-sizing:border-box; }
        @keyframes gradient {
            0% { background-position: 50% 50%; }
            50% { background-position: 100% 100%; }
            100% { background-position: 50% 50%; }
        }

            /** info title 1 **/
            .container #main #info .info_title1 { width:100%; height:100vh; padding:0 130px; box-sizing:border-box; font-size:11.667vw; display:flex; flex-direction:column; justify-content:center; font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:900; }
                .container #main #info .info_title1 span { display:block; }


            /** info container **/
            .container #main #info .info_container { position:relative; width:100%; min-height:100vh; }
                .container #main #info .info_container .space_holder { position:relative; width:100%; }
                    .container #main #info .info_container .space_holder .sticky { position:sticky; top:0; height:100vh; width:100%; overflow-x:hidden; }
                        .container #main #info .info_container .space_holder .sticky .horizontal { position:absolute; height:100%; will-change:transform; }
                            .container #main #info .info_container .space_holder .sticky .horizontal .cards { position:relative; height:100%; display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center; }


            /** info txt **/
            .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_txt { font-weight:700; position: relative; height:100vh; width:100vw; margin-right: 75px; flex-shrink: 0; }
                .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_txt .txt1 { position:absolute; top:50%; right:50%; transform:translateY(-50%); z-index:2; }
                    .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_txt .txt1 > p { font-size:3.333vw; letter-spacing:-3px; margin:0 70px 0 0; }
                    
                    .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_txt .txt1 .more { margin-top:20px; display:flex; align-items:center; font-size:1.1em; font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:500; cursor:pointer; }
                            .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_txt .txt1 .more .circle { width:15px; height:15px; border-radius:50%; background-color:#ffe71b; margin:0 25px 0 10px; cursor:pointer; }

                .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_txt .txt2 { font-size:1.25vw; position:absolute; top:60%; right:25%; z-index:2; }
                    .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_txt .txt2 span { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; }

            /** info article **/
            .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article { width:860px; height:100vh; padding:120px 60px; box-sizing:border-box; display:flex; flex-direction:column; margin-right:75px; flex-shrink:0; position:relative; z-index:2; }
                .container #main #info .info_container .space_holder .sticky .horizontal .cards .artwork { background-color:rgba(255, 204, 71, 0.6); }
                .container #main #info .info_container .space_holder .sticky .horizontal .cards .collab { background-color:rgba(255, 67, 81, 0.6); }
                .container #main #info .info_container .space_holder .sticky .horizontal .cards .fashion { background-color:rgba(46, 167, 215, 0.6); }

                .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt1 { display:flex; justify-content:flex-start; }
                    .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt1 p { margin:0; font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; }
                        .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt1 p:first-of-type { font-size:2.333vw; font-weight:800; }
                        .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt1 p:last-of-type { margin-left:10px; font-size:1.3em; }

                
                .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt2 { margin-top:auto; }
                    .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt2 > p { margin:0 0 40px 0; padding-bottom:10px; border-bottom:1px solid #fff; font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; font-size:1.1em; }
                    .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt2 > div strong { font-size:1.7em; font-weight:500; }
                            .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt2 > div strong span { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; }
                    .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt2 > div p { margin:0; font-size:1.3em; font-weight:400; margin-top:15px; }
                        .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt2 > div p span { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; }


                .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt3 { margin-top:120px; }
                    .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt3 ul { display:flex; }
                        .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt3 ul li:first-child { margin-right:200px; }

                            .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt3 ul li p { margin:0; }
                            .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_article .article_txt3 ul li p:first-of-type { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:500; margin-bottom:10px; }

            /** info title 2 **/
            .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_title2 { width:100vw; height:100vh; text-align:center; display:flex; justify-content:center; align-items:center; flex-shrink:0; position: relative; }
                .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_title2 .box { width:100%; z-index:-1; transition:1.5s ease; opacity:0; transform:translateY(50px); }
                .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_title2 .box.ta_da { z-index:1; opacity:1; transform:translateY(0px); }
                    .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_title2 .box p { margin:0; }
                        .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_title2 .box p:first-of-type { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:900; font-size:3.3em; margin-bottom:30px; }
            
                        .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_title2 .box p:last-of-type { font-weight:500; line-height:1.5; font-size:1.7em; }
                            .container #main #info .info_container .space_holder .sticky .horizontal .cards .info_title2 .box p:last-of-type span { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; }

        
        /*** fin ***/
        .container #main #fin { width:100%; padding-top:140px; box-sizing:border-box; background-color:#fff; position:relative; z-index:3; overflow:hidden; }
            .container #main #fin h2 { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:700; font-size:2.25vw; margin:0 0 160px 140px; }

            .container #main #fin .fin_txt { position:absolute; top:350px; right:350px; z-index:9; }
                .container #main #fin .fin_txt p { margin:0 0 30px 0; font-weight:500; font-size:1.333vw; line-height:1.4; }
                    .container #main #fin .fin_txt span { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; }

                .container #main #fin .fin_txt .tap { width:120px; height:120px; background-color:#ffe71b; border-radius:50%; line-height:120px; text-align:center; font-weight:500; font-size:1.1em; color:#000; cursor:pointer; }

                .container #main #fin .txt { color:#eee; font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-size:11vw; font-weight:900; margin:0; position:absolute; transform:rotate(-12deg); }
                    .container #main #fin .back_txt { z-index:1; }
                        .container #main #fin #back_txt1 { top:32%; left:-2%; }
                        .container #main #fin #back_txt2 { top:47%; left:13%; }
                        .container #main #fin #back_txt3 { top:64%; left:4%; }
    
                    .container #main #fin .front_txt { z-index:3; }
                        .container #main #fin #front_txt1 { bottom:8%; right:37%; }
                        .container #main #fin #front_txt2 { bottom:-5%; right:30%; }
                        .container #main #fin #front_txt3 { bottom:10%; right:-2%; }

            .container #main #fin img { display:block; width:75%; margin:600px auto 0; position:relative; z-index:2; }


        /** news **/
        .container #main #news { width:100%; padding:150px 80px; box-sizing:border-box; position:relative; z-index:4; background-color:#fff; }
            .container #main #news h2 { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-size:1.7em; font-weight:600; }

            .container #main #news .news-container { width:100%; overflow:hidden; }

            .container #main #news ul { width:100%; margin-top:40px; position:relative; z-index:2; }
                .container #main #news ul li { width:50%; height:120px; display:flex; align-items:flex-start; color:rgb(160, 160, 160); cursor:pointer; transition:0.2s; }
                .container #main #news ul li.focus, .container #main #news ul li:hover, .container #main #news ul li.focus, .container #main #news ul li:active { color:#000; }
                    .container #main #news ul li p { margin:0 50px 0 0; font-size:1.1em; }

                    .container #main #news ul li .title { height:120px; display:flex; flex-direction:column; justify-content:space-between; }
                        .container #main #news ul li .title h3 { margin:0;  font-weight:500; font-size:1.167vw; }
                        .container #main #news ul li .title .more { cursor:pointer; display:flex; align-items:center; }

                            .container #main #news ul li .title h3 span, .container #main #news ul li .title .more p { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; }
                                .container #main #news ul li .title .more p { font-weight:500; }

                            .container #main #news ul li .title .more .circle { width:12px; height:12px; border-radius:50%; background-color:#ffe71b; margin-right:15px; }

            .container #main #news .swiper-button-next, .container #main #news .swiper-button-prev { width:55px; height:55px; border-radius:50%; }
                .container #main #news .swiper-button-next:after, .container #main #news .swiper-button-prev:after { text-indent:-9999px; }
            
                .container #main #news .swiper-button-next { background:rgba(243, 243, 243, 0.5) url(../images/next.svg) no-repeat 50% 50%; background-size:15px; transition:0.2s; }
                .container #main #news .swiper-button-prev { background:rgba(243, 243, 243, 0.5) url(../images/prev.svg) no-repeat 50% 50%; background-size:15px; transition:0.2s; }

                .container #main #news .swiper-button-next:hover, .container #main #news .swiper-button-prev:hover { background-color:#ffe71b; }

            .container #main #news .bg_circle { position:absolute; z-index:1; }
                .container #main #news #bg_circle1 { width:400px; height:400px; background:url(../images/bg_circle1.png) no-repeat 50% 50%; background-size:350px; top:20%; left:40%; opacity:0.3; animation:move1 3s infinite linear; }
                @keyframes move1 {
                    0% { transform:rotate(0deg) translate(-3vw) rotate(0deg);}
                    50% { transform:rotate(-180deg) translate(-3vw) rotate(-180deg);}
                    100% { transform:rotate(-360deg) translate(-3vw) rotate(-360deg); }
                  }
                .container #main #news #bg_circle2 { width:250px; height:250px; background:url(../images/bg_circle2.png) no-repeat 50% 50%; background-size:200px; top:55%; left:40%; opacity:0.5; animation:move2 3s infinite linear; }
                @keyframes move2 {
                    0% { transform:rotate(0deg) translate(2vw) rotate(0deg); }
                    50% { transform:rotate(180deg) translate(2vw) rotate(-180deg);}
                    100% { transform:rotate(360deg) translate(2vw) rotate(-360deg);}
                }
                .container #main #news #bg_circle3 { width:300px; height:300px; background:url(../images/bg_circle3.png) no-repeat 50% 50%; background-size:250px; top:50%; left:45%; animation:move3 5s infinite linear; }
                @keyframes move3 {
                    0% { transform: rotate(0deg) translate(1vw) rotate(0deg); }
                    50% { transform: rotate(180deg) translate(1vw) rotate(-180deg); }
                    100% { transform: rotate(360deg) translate(1vw) rotate(-360deg); }
                }

    
    /***** footer *****/
    .container footer { width:100%; display:flex; align-items:flex-start; padding:200px 100px 90px; box-sizing:border-box; font-weight:300; color:#222; font-size:0.917vw; background-color:#fff; position:relative; z-index:3; }
        .container footer img { display:block; width:100px; height:61px; }

        .container footer > p { margin:0 170px 0 auto; line-height:1.6; }

        .container footer ul:first-of-type, .container footer ul:nth-of-type(2) { margin-right:170px; }
            .container footer ul:first-of-type li { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; }

            .container footer ul:nth-of-type(2) { font-weight:500; }

            .container footer ul:last-of-type li:first-child { font-weight:500; cursor:pointer; }
                .container footer ul li { margin-bottom:10px; }
                    .container footer ul li a { color:#000; }


    /***** license *****/
    .container #license { width:100%; font-size:0.9em; color:#ddd; text-align:center; padding:0 0 40px 0; background-color:#fff; position:relative; z-index:3; }

    /*** go to top ***/
    .container #go_to_top { position:fixed; bottom:20px; right:20px; width:35px; height:35px; background:url(../images/to_top.svg) no-repeat 50% 50%; background-size:28px; z-index:9; cursor:pointer; opacity:0; }

    /*** learn more ***/
    .container #learn_more { width:120px; height:120px; line-height:120px; background-color:#ffe71b; border-radius:50%; text-align:center; font-weight:500; font-size:1.1em; position:fixed; bottom:30px; left:-150px; z-index:2; cursor:pointer; }
    .container #learn_more.hidden { display:none; }